<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DocuExpress</display-name>
    <servlet>
        <servlet-name>SrvConfirmar</servlet-name>
        <servlet-class>com.are.docuexpress.servlet.SrvConfirmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvOrganicePdf</servlet-name>
        <servlet-class>com.are.docuexpress.servlet.SrvOrganicePdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrvConfirmar</servlet-name>
        <url-pattern>/SrvConfirmar</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
        <description>controller</description>
        <env-entry-name>controller</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1</env-entry-value>
    </env-entry>
    <env-entry>
        <description>service</description>
        <env-entry-name>service</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>2016-12-31</env-entry-value>
    </env-entry>
</web-app>
